.workout-list {
  display: flex;
  margin-top: 10px;
}

.workout-list .day {
  margin: 4px;
  height: 30px;
  width: 30px;
  background-color: #515761;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  flex: 1;
  font-size: 20px;
}

.workout-list .beasted {
  background-color: #C25F60;
  color: white;
}

