.workout-list {
  display: flex;
  margin-top: 10px;
}

.workout-list .day {
  margin: 4px;
  background-color: #515761;
  border-radius: 5px;
  text-align: center;
  flex: 1;
}

.workout-list .beasted {
  background-color: #C25F60;
  color: white;
}

